@font-face {
  font-family: 'icomoon';
  src:  url('css/fonts/icomoon.eot?tb5jdu');
  src:  url('css/fonts/icomoon.eot?tb5jdu#iefix') format('embedded-opentype'),
    url('css/fonts/icomoon.ttf?tb5jdu') format('truetype'),
    url('css/fonts/icomoon.woff?tb5jdu') format('woff');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before {
  content: "\f00d";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-flag:before {
  content: "\f024";
  color: #d94f5c;
}
.icon-bomb:before {
  content: "\f1e2";
}
.cell-icon:before {
  font-size: 16px;
  position: relative;
  top: -2px;
}
*, *::after, *::before {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  font-size: 20px;
  font-family: 'arial';
  color: #333;
  margin: 0;
}
button {
  font-size: 20px;
  color: #333;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: #502327;
  transition: color 0.3s;
}
a:hover {
  color: #d94f5c;
}
input[type="text"] {
  font-size: 16px;
}
h2 {
  font-size: 18px;
  margin: 8px 0;
  border-bottom: 4px solid #333;
}
#app {
  min-height: 100%;
}
.app {
  user-select: none;
  margin: 0 auto;
  padding: 16px;
  height: 100%;
}
.menu, .game-infos {
  width: 300px;
  margin: 5px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu-button {
  font-size: 20px;
  font-weight: bold;
  margin: 0.4em 0.6em;
  padding: 0.5em 0;
  position: relative;
  transition: color 0.3s;
  color: #502327;
}
.menu-button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #d94f5c;
  transform: scale3d(0, 1, 1);
  transition: transform 0.1s;
}
.menu-button:hover {
  color: #d94f5c;
}
.menu-button:hover::before {
  transform: scale3d(1, 1, 1);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.game-infos-item {
  margin: 0 8px;
  color: #502327;
}
.bomb-tracker, .game-timer, .reset-button {
  padding: 16px;
  position: relative;
  border: 4px #502327 solid;
}
.bomb-tracker, .game-timer {
  width: 90px;
  text-align: right;
}
.bomb-tracker i, .game-timer i {
  position: absolute;
  left: 12px;
}
.reset-button {
  -webkit-backface-visibility: hidden;
  color: #502327;
  font-size: 24px;
  transition: color 0.3s, border-color 0.3s;
}
.reset-button i {
  display: block;
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.reset-button:hover {
  color: #d94f5c;
  border-color: #d94f5c;
}
.reset-button:hover i {
  transform: rotate(180deg);
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  cursor: default;
}
.cell {
  width: 24px;
  height: 24px;
  background-color: #bbb;
  border: 2px outset #aaa;
  color: #333;
  text-align: center;
  font-weight: bold;
}
.cell:hover {
  background-color: #ccc;
}
.cell.opened {
  background-color: #eee;
    border: 1px solid #aaa;
}
.cell.opened.bomb {
  background-color: #d94f5c;
}
.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay.opened {
  visibility: visible;
  opacity: 1;
}
.dialog {
  position: absolute;
  width: 320px;
  font-size: 16px;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.dialog-close {
  color: #502327;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: color 0.3s;
}
.dialog-close:hover {
  color: #d94f5c;
}
.mode-dialog {
  text-align: center;
}
.mode-dialog-button {
  font-size: 20px;
  font-weight: bold;
  margin: 0.25em 0.5em;
  padding: 0.5em 0;
  position: relative;
  transition: color 0.3s;
  color: #aaa;
}
.mode-dialog-button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #d94f5c;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.mode-dialog-button:hover {
  color: #6b595b;
}
.mode-dialog-button:disabled {
  color: #d94f5c;
}
.mode-dialog-button:disabled::before {
  transform: scale3d(1, 1, 1);
}
.mode-dialog div {
  margin: 5px 0;
}
.mode-input {
  text-align: center;
  width: 30px;
}
.mode-validate, .hs-validate {
  display: block;
  margin: 20px auto 5px;
  padding: 8px 24px;
  background-color: #502327;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s;
}
.mode-validate:hover, .hs-validate:hover {
  background-color: #d94f5c;
  border-color: #d94f5c;
}
.hs-dialog {
  text-align: center;
  padding: 28px 0 16px;
}
.hs-dialog ol {
  padding: 0;
  text-align: left;
  padding-left: 10px;
}
.hs-row {
  display: inline-block;
  width: 86px;
  margin: 0 6px;
  min-height: 200px;
  vertical-align: top;
}
.hs {
  font-size: 12px;
  margin: 5px 0;
}
.hs-name {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hs-time, .hs-date {
  font-style: italic;
}
.hs-form {
  text-align: center;
}
.about-footer {
  text-align: center;
}
.congrats-para {
  text-align: center;
  font-size: 20px;
}
