*, *::after, *::before {
  box-sizing: border-box;
}
body {
  font-size: 20px;
  font-family: 'arial';
  color: #333;
}
.app {
  margin: 0 auto;
  text-align: center;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  cursor: default;
}
.cell {
  width: 24px;
  height: 24px;
  background-color: #ccc;
  border: 1px solid #aaa;
  color: #000;
  text-align: center;
}
.opened {
  background-color: #eee;
}
.bomb {
  background-color: red;
}
